<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bny.dao.CommentDao">	
	<select id="selectCommentList" parameterType="map" resultType="com.bny.dto.Comment">
		SELECT id, name, contents
		FROM(
			SELECT id, name, contents
			FROM comments
			WHERE parListNo=#{listNo}
			ORDER BY listNo DESC
		) A
		LIMIT #{pageSize} OFFSET #{offset}		
	</select>
	<select id="selectCommentCount" parameterType="int" resultType="int">
		SELECT COUNT(listNo)
		FROM comments
		WHERE parListNo=#{listNo}
	</select>
	<insert id="addComment" parameterType="com.bny.dto.Comment">
		INSERT INTO comments (id, name, contents, secretYn, parListNo)
		VALUES (#{id}, #{name}, #{contents}, #{secretYn}, #{parListNo})
	</insert>
</mapper>
 