<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="bny" version="3.0">
	<!-- DD파일의 title 정도-->
	<display-name>myapp</display-name>	
	<description>http://49.247.211.93:8001</description>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- application context의 설정파일의 경로를 입력 -->
	<!-- 사용자가 직접 컨트롤 하는 XML파일을 지정해주는 역할. -->
	<!-- JavaConfig방식을 사용하려면  AnnotationConfigWebApplicationContext 설정-->	

	<!-- classpath는 마우스 오른쪽 properties -> deployment assembly에 지정되어 있음. -->
	<!-- JavaConfig방식 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/spring/application/*-context.xml
		</param-value>
	</context-param>
	
	<!-- context -> 전체 설정 -->
	<!-- servlet -> 해당 서블릿 하나에 대한 설정 -->
	<!-- DispatcherServlet이 모든 요청을 받고, 요청의 URL과 맵핑하는 Controller에 위임된다. -->
	<servlet>
		<!-- servlet-name 아무거나 -->
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- init param을 이용해 servlet context의 설정파일의 경로 입력 -->		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:/spring/root/root-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<!-- servlet-name과 일치 시킴 ▽ -->
		<!-- servlet-name과 일치시키면 url-pattern에 설정한 경로로 들어오는 요청은 servlet-name인 pji를 통해 init-param에 설정된 pji-servlet.xml을 호출한다. -->
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>

	</servlet-mapping>	
	<!-- webapp 하위 경로 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>